<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6mAk_TU3yWUbQghhDEFvLv2T6v6A62Y4</string>
	<key>GCM_SENDER_ID</key>
	<string>585862733617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.citiquiz.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>citiquiz-91848</string>
	<key>STORAGE_BUCKET</key>
	<string>citiquiz-91848.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585862733617:ios:0e5956636d3ccfdca0da10</string>
</dict>
</plist>